* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(5, 5, 27);
}
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(2, 2, 41);
  height: 85px;
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
}

.nav-left {
  display: flex;
  align-items: center;
  margin: 0 70px;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: castellar;
}
.nav-left img {
  background-size: cover;
  background-position: center;
  width: 250px;
  margin-right: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  margin: 0 70px;
}

.nav-right ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-right ul li {
  margin: 0 20px;
}

.nav-right ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.nav-right ul li a:hover {
  text-shadow: 0 0 10px rgba(221, 180, 233, 0.8),
    0 0 20px rgba(221, 180, 233, 0.6), 0 0 30px rgba(221, 180, 233, 0.4);
  color: rgb(215, 188, 239);
  position: relative;
}

.nav-right ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: underline 0.3s forwards;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.name {
  color: blueviolet;
}

.menu-btn {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 20px;
}
.cross-btn {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 100px;
  padding: 10px;
}
.cross-btn:hover {
  font-size: 2.3rem;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(2, 2, 41);
  padding-top: 60px;
  transition: 0.5s;
  z-index: 1;
  overflow: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 16px;
  text-align: center;
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  display: block;
  transition: 0.3s;
  width: 40%;
  margin: 10px auto;
}

.sidebar ul li a:hover {
  text-shadow: 0 0 10px rgba(221, 180, 233, 0.8),
    0 0 20px rgba(221, 180, 233, 0.6), 0 0 30px rgba(221, 180, 233, 0.4);
  color: rgb(215, 188, 239);
  position: relative;
}
.sidebar ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: underline 0.3s forwards;
}

.firstSection {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

.firstContent {
  width: 50%;
  margin: 170px 0;
  font-size: 2.5rem;
}

.secondContent {
  width: 30%;
  margin: 30px 0;
}

.secondContent img {
  width: 80%;
  margin: 50px 0px;
  border-radius: 50%;
}

.secondContent img:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 10px 20px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: -webkit-zoom-in;
}

#element {
  color: blueviolet;
}

main hr {
  border: 0;
  background: rgb(48, 14, 127);
  height: 2px;
  margin: 0px 40px;
}

.btn {
  margin: 30px 10px;
  padding: 10px 20px;
  background-color: blueviolet;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  transform: translate(5px, 0px);
  box-shadow: 0px 0px 100px blueviolet, 0 0 25px blueviolet, 0 0 50px #611478,
    0 0 100px #821079;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.numbers-img img {
  width: 50px;
  animation: bubble 6s linear infinite;
  opacity: 0;
  overflow: hidden;
}
.numbers-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -2px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.numbers-img img:nth-child(1) {
  animation-delay: 1.3s;
}
.numbers-img img:nth-child(2) {
  animation-delay: 0.9s;
}

.numbers-img img:nth-child(3) {
  animation-delay: 1.9s;
}

.numbers-img img:nth-child(4) {
  animation-delay: 4.6s;
}
.numbers-img img:nth-child(5) {
  animation-delay: 2.6s;
}
.numbers-img img:nth-child(6) {
  animation-delay: 0.4s;
}
.numbers-img img:nth-child(7) {
  animation-delay: 3.1s;
}
.numbers-img img:nth-child(8) {
  animation-delay: 0.6s;
}
.numbers-img img:nth-child(9) {
  animation-delay: 2.6s;
}
.numbers-img img:nth-child(10) {
  animation-delay: 1.2s;
}
.numbers-img img:nth-child(11) {
  animation-delay: 1.6s;
}
.numbers-img img:nth-child(12) {
  animation-delay: 0.8s;
}
.numbers-img img:nth-child(13) {
  animation-delay: 3.6s;
}
.numbers-img img:nth-child(14) {
  animation-delay: 1.56s;
}
.numbers-img img:nth-child(15) {
  animation-delay: 0.446s;
}
.numbers-img img:nth-child(16) {
  animation-delay: 1.3s;
}
.numbers-img img:nth-child(17) {
  animation-delay: 3s;
}
.numbers-img img:nth-child(18) {
  animation-delay: 0.1s;
}
.numbers-img img:nth-child(19) {
  animation-delay: 3.1s;
}
.numbers-img img:nth-child(20) {
  animation-delay: 2.3s;
}

/* About Me */
.secondSectionContent {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 35px;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.about-photo {
  height: 350px;
  width: 320px;
  background-image: url("img/me2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-left: 120px;
  box-shadow: 0 10px 20px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
}
.about-photo:hover {
  transform: scale(1.2) rotate(2deg);
  box-shadow: 0 10px 20px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: -webkit-zoom-in;
}

.about-content {
  width: 50%;
  margin: 20px 0;
  font-size: 1.2rem;
  text-align: center;
}
.about-content h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}
.about-op {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 35px;
}
.about-item {
  position: relative;
}
.underline {
  /* text-shadow: 0 0 10px rgba(221, 180, 233, 0.8),
              0 0 20px rgba(221, 180, 233, 0.6),
              0 0 30px rgba(221, 180, 233, 0.4); */
  color: rgb(215, 188, 239);
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: underline 0.3s forwards;
}
.about-item:hover {
  text-shadow: 0 0 10px rgba(221, 180, 233, 0.8),
    0 0 20px rgba(221, 180, 233, 0.6), 0 0 30px rgba(221, 180, 233, 0.4);
  color: rgb(215, 188, 239);
}
.about-op :hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: underline 0.3s forwards;
}
.top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 1190px;
}
.top button {
  background-color: blueviolet;
  color: white;
  width: 120%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1000;
}

.top button:hover {
  transform: translate(5px, 0px);
  box-shadow: 0px 0px 100px blueviolet, 0 0 25px blueviolet, 0 0 50px #611478,
    0 0 100px #821079;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.edu-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.school,
.college,
.university {
  margin: 15px 10px;
  width: 44%;
  height: 215px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(11, 123, 157, 0.3);
  background: rgb(38, 3, 69);
  padding: 10px;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.languages {
  margin: 15px 10px;
  width: 100%;
  height: 390px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(11, 123, 157, 0.3);
  background: rgb(38, 3, 69);
  padding: 10px;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.languages h2 {
  font-size: 2.2rem;
}
.ability {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.ability div {
  margin: 15px 10px;
  width: 15%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(11, 123, 157, 0.3);
  background: rgb(5, 5, 40);
  padding: 10px;
  transition: 0.5s;
  scroll-behavior: smooth;
  font-size: 1rem;
}
.ability div img {
  width: 15px;
}
.ability div:hover {
  transform: scale(1.1) translate(0px, -5px);
  box-shadow: 0 10px 190px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.school:hover,
.college:hover,
.university:hover {
  transform: scale(1.1) translate(0px, -5px);
  box-shadow: 0 10px 50px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.school p,
.college p,
.university p {
  color: white;
  font-size: 1rem;
}
.school i,
.college i,
.university i {
  /* color: black; */
  font-size: 0.8rem;
}
.about-content h1 {
  font-size: 2.5rem;
  color: blueviolet;
}
/* third section */
.thirdSectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.thirdSectionContent h1 {
  font-size: 2.5rem;
  color: blueviolet;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.project1,
.project2,
.project3,
.project4 {
  margin: 15px 10px;
  width: 45%;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(11, 123, 157, 0.3);
  background: rgb(5, 5, 40);
  padding: 30px;
  transition: 0.5s;
  scroll-behavior: smooth;
  font-size: 1rem;
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover {
  transform: scale(1.01) translate(0px, -5px);
  box-shadow: 0 10px 50px rgba(104, 12, 129, 0.5),
    0 6px 6px rgba(11, 123, 157, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.project1:hover .pic img,
.project2:hover .pic img,
.project3:hover .pic img,
.project4:hover .pic img {
  transform: perspective(300px) rotateY(-15deg); /* Adds 3D tilt effect */
  transition: transform 0.5s ease; /* Smooth transition */
  filter: brightness(1.2); /* Optional: Slightly brighten the image */
}
.pic i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem; /* Adjust icon size */
  z-index: 10000000; /* Makes sure the icon is above the image */
  display: none;
}
.project1:hover .pic i,
.project2:hover .pic i,
.project3:hover .pic i,
.project4:hover .pic i {
  display: inline-block; /* Show the icon on hover */
}
.thirdSectionContent p {
  font-size: 1.2rem;
  margin: 20px 5px;
}
.infos {
  width: 40%;
}
.pic {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 60%;
}
.pic img {
  width: 90%;
}
.project2 .pic img,
.project3 .pic img,
.project4 .pic img {
  width: 100%;
  height: 300px;
}
.project1,
.project2,
.project3,
.project4 {
  display: flex;
}
.infos i:hover,
.infos i:hover,
.infos i:hover,
.infos i:hover {
  transform: translate(0px, -5px);
  color: blueviolet;
}

/* fourth section */

.fourthSection {
  position: relative;
  margin: 15px 0px 15px 130px;
  width: 80%;
  /* border: 2px solid gray; */
  border-radius: 8px;
  box-shadow: 0px 10px 5px rgba(11, 123, 157, 0.3),
    0 6px 6px rgba(11, 123, 157, 0.3), 0 -6px 6px rgba(11, 123, 157, 0.3),
    6px 0 6px rgba(11, 123, 157, 0.3), -6px 0 6px rgba(11, 123, 157, 0.3);
  background: transparent;
}

.fourthSectionContent {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.fourthSectionContent h1 {
  position: relative;
  left: 15px;
  font-size: 3rem;
  margin: 35px 15px;
  /* color: black; */
}
.fourthSectionContent p {
  font-size: 1.4rem;
  margin: 15px 35px;
}
.social {
  margin: 25px 15px 35px 5px;
}
.social i {
  font-size: 2rem;
  margin: 10px;
}
.social a {
  padding: 10px;
}
.mail {
  text-decoration: none;
}
.mail:hover {
  text-decoration: underline;
}

#fb i:hover {
  transform: translate(0px, -5px);
  transition: 0.5s;
  color: hsl(240, 100%, 50%);
}
#lnkdin i:hover {
  transform: translate(0px, -5px);
  transition: 0.5s;
  color: hsl(240, 100%, 64%);
}
#git i:hover {
  transform: translate(0px, -5px);
  transition: 0.5s;
  color: rgb(73, 72, 72);
}
#insta i:hover {
  transform: translate(0px, -5px);
  transition: 0.5s;
  color: orangered;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 15px;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.review {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.message-box {
  width: 60%;
}
.message-box input {
  width: 70%;
  padding: 10px;
  margin: 10px 130px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: rgb(191, 216, 231);
  color: black;
}
.message-box textarea {
  width: 70%;
  padding: 10px;
  margin: 10px 130px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: rgb(191, 216, 231);
  color: black;
}
.message-box button {
  position: relative;
  width: 30%;
  left: 250px;
  top: -20px;
}

#success-message {
  display: flex;
  justify-content: center;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  position: relative;
  left: 110px;
  bottom: 0;
  width: 80%;
}
